html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.3;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 16px;
}

a {
  display: inline-block;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  word-break: keep-all;
}

#root {
  width: 100vw;
  height: 100%;
  background: #eee;
}

.App {
  max-width: 480px;
  min-width: 320px;
  height: 100vh;
  margin: 0 auto;
  background: #fff;
  overflow-x: hidden;
}

.hidden {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
  line-height: 0;
  width: 1px;
  height: 1px;
}

[class$=-inner] {
  max-width: 90%;
  margin: 0 auto;
}

[class$=title] {
  font-size: 1.4rem;
  font-weight: 600;
}

.section-title {
  color: #456250;
  margin-bottom: 0.45rem;
}

.section-subtitle {
  font-size: 0.8rem;
  font-weight: 400;
  color: #456250;
}

.modal {
  position: fixed;
  width: 100%;
  max-width: 480px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.16);
  text-align: center;
  z-index: 999;
}
.modal-inner {
  margin-top: 1.5rem;
  padding: 1.8rem 0;
  border-radius: 0.6rem;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(103, 147, 123, 0.35);
}
.modal-inner img {
  position: relative;
  top: 0;
  left: 0;
  max-width: 8.5%;
  margin-bottom: 1.8rem;
}
.modal-inner a {
  width: 80%;
  padding: 0.8rem 1.8rem;
  border-radius: 0.8rem;
  color: #fff;
  background: #456250;
}
.modal-msg {
  margin-bottom: 2.5rem;
  font-size: 1.05rem;
  font-weight: 400;
  color: #456250;
}

.splash-wrap {
  width: 100%;
  height: 100vh;
}
.splash-wrap .splash-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.splash-wrap .splash-container .splash-logo {
  display: block;
  width: 55%;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 65%;
  opacity: 0;
  transition: opacity 1.5s 0.5s, padding-top 0.5s 1.8s;
}
.splash-wrap .splash-container .splash-logo-on {
  opacity: 1;
  padding-top: 45%;
}
.splash-wrap .splash-container .login-box {
  position: absolute;
  bottom: 15%;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s 2.3s;
}
.splash-wrap .splash-container .login-box-on {
  opacity: 1;
}
.splash-wrap .splash-container .login-box .login-btn {
  width: 85%;
  padding: 0.9rem 0;
  margin: 1rem auto 0;
  border-radius: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.splash-wrap .splash-container .login-box .login-email {
  color: #fff;
  background: #67937B;
}
.splash-wrap .splash-container .login-box .not-login {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #67937B;
  text-align: center;
}

.login, .signin {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.login .login-inner,
.login .signin-inner, .signin .login-inner,
.signin .signin-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login .splash-logo, .signin .splash-logo {
  max-width: 35%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.login .splash-logo img, .signin .splash-logo img {
  display: block;
  max-width: 100%;
}
.login .logNsign-form, .signin .logNsign-form {
  text-align: center;
}
.login .logNsign-form input, .login .logNsign-form button, .signin .logNsign-form input, .signin .logNsign-form button {
  width: 100%;
  padding: 0.9rem 1.2rem;
  box-sizing: border-box;
  border: 0 none;
  border-radius: 1.5rem;
}
.login .logNsign-form input, .signin .logNsign-form input {
  font-size: 0.9rem;
  margin: 0.5rem 0;
  background: #eee;
}
.login .logNsign-form button, .signin .logNsign-form button {
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background: #456250;
}
.login .logNsign-form button:disabled, .signin .logNsign-form button:disabled {
  opacity: 0.3;
}
.login .logNsign-form-alert, .signin .logNsign-form-alert {
  padding: 0 1.2rem;
  text-align: left;
  font-size: 0.85rem;
  color: #f55a5a;
}
.login .logNsign-form-alert-off, .signin .logNsign-form-alert-off {
  display: none;
}
.login .logNsign-form-rcmd, .signin .logNsign-form-rcmd {
  padding: 0 1.2rem;
  text-align: left;
  font-size: 0.85rem;
  color: #67937B;
}

.login .splash-logo {
  top: 10%;
}
.login .form-wrap {
  text-align: center;
}
.login .form-wrap .go-signin {
  margin-top: 0.9rem;
  font-size: 0.88rem;
  color: #456250;
}
.login .logNsign-form-alert {
  text-align: center;
  margin-top: 0.5rem;
}

.signin .splash-logo {
  top: 10%;
}

.botnav-wrap {
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 100%;
  max-width: 480px;
  min-width: 320px;
  transform: translateX(-50%);
  border-radius: 0.8rem 0.8rem 0 0;
  background-color: #fff;
  box-shadow: 0px -2px 5px rgba(103, 147, 123, 0.1019607843);
  z-index: 999;
}
.botnav-wrap .botnav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0 1.4rem;
}
.botnav-wrap .botnav-container li {
  max-width: 20%;
}
.botnav-wrap .botnav-container li .botnav-btn-icon {
  display: block;
  width: 40%;
  margin: 0 auto;
}
.botnav-wrap .botnav-container li .botnav-btn-name {
  margin-top: 0.2rem;
  font-size: 0.7rem;
  text-align: center;
  color: #456250;
}

.intro {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 18%;
}
.intro-container {
  padding: 17% 5%;
  background: #274C58;
  border-radius: 0 0 25px 25px;
}
.intro-container .intro-subtitle {
  margin-bottom: 0.45rem;
  font-size: 0.8rem;
  color: #cecece;
}
.intro-container .title {
  max-width: 80%;
  color: #fff;
}
.intro .service-slide {
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -33%;
  padding-bottom: 25px;
}
.intro .service-slide .swiper-slide .service {
  position: relative;
  top: 0;
  left: 0;
  min-height: 5rem;
  padding: 1.2rem;
  border-radius: 1rem;
  background-color: #F2F5F3;
}
.intro .service-slide .swiper-slide .service-title {
  margin-bottom: 0.35rem;
  font-size: 1rem;
  font-weight: 600;
  color: #456250;
}
.intro .service-slide .swiper-slide .service-receipt {
  display: block;
  font-size: 0.7rem;
  color: #456250;
}
.intro .service-slide .swiper-slide .service-icon {
  position: absolute;
  top: 50%;
  height: 70%;
  transform: translateY(-50%);
}
.intro .service-slide .swiper-slide .service-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.intro .service-slide .swiper-slide .service-icon-vert {
  width: 30%;
  right: 3%;
}
.intro .service-slide .swiper-slide .service-icon-rect {
  width: 22.5%;
  right: 7%;
}
.intro .service-slide .swiper-pagination {
  bottom: 0;
}
.intro .service-slide .swiper-pagination-bullet {
  width: 10px;
  height: 6px;
  border-radius: 3px;
  background: #c4c4c4;
  opacity: 1;
  transition: width 0.4s;
}
.intro .service-slide .swiper-pagination-bullet-active {
  width: 30px;
  border-radius: 5px;
  background: #67937B;
}

.offer {
  padding-top: 2.8rem;
}
.offer-slide {
  margin-top: 1rem;
}
.offer-slide .swiper-slide {
  height: 8.5rem;
  border-radius: 1rem;
  overflow: hidden;
  background: #67937B;
}
.offer-slide .swiper-slide .offer-company {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: linear-gradient(transparent, #274C58);
}
.offer-slide .swiper-slide .offer-company p {
  color: #fff;
}
.offer-slide .swiper-slide .offer-company-name {
  font-size: 0.9rem;
  font-weight: 600;
}
.offer-slide .swiper-slide .offer-company-info {
  margin-top: 0.1rem;
  font-size: 0.6rem;
  font-weight: 400;
}

.check {
  width: 100%;
  margin-top: 3rem;
}
.check-inner {
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: #B6C4BD;
}
.check-inner .section-title,
.check-inner .section-subtitle {
  color: #274C58;
}
.check-left {
  padding: 1.2rem;
}
.check-list {
  min-width: 32%;
  padding: 1.2rem;
}
.check-list li {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid #274C58;
}
.check-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 0.9rem;
  height: 0.5rem;
  transform: rotate(136deg);
  border-width: 2.5px 2.5px 0 0;
  border-style: solid;
  border-color: #274C58;
}
.check-list li p {
  line-height: 1.8;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: right;
  color: #274C58;
}
.check-list-off {
  opacity: 0.25;
}

.suggest {
  margin-top: 3rem;
}
.suggest .section-subtitle {
  display: inline-block;
}
.suggest-reserve {
  float: right;
  padding-right: 0.9rem;
  color: #456250;
  font-size: 0.8rem;
  position: relative;
  top: 0;
  left: 0;
}
.suggest-reserve:after {
  content: "";
  position: absolute;
  right: 0.1rem;
  top: 0.25rem;
  width: 0.4rem;
  height: 0.4rem;
  transform: rotate(45deg);
  border: 1.2px solid #456250;
  border-bottom: transparent;
  border-left: transparent;
}
.suggest-items {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.suggest-items li {
  max-width: 20%;
  border-radius: 1.2rem;
}
.suggest-items li:nth-child(odd) {
  background-color: #F2F5F3;
}
.suggest-items li:nth-child(odd) p {
  color: #456250;
}
.suggest-items li:nth-child(even) {
  background-color: #739583;
}
.suggest-items li:nth-child(even) p {
  color: #F2F5F3;
}
.suggest-items li a {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0.65rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
}
.suggest-items li a .suggest-img-wrap {
  width: 100%;
  height: 63%;
  margin: 0 auto 0.55rem;
  border-radius: 0.8rem;
  overflow: hidden;
}
.suggest-items li a .suggest-img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.master {
  margin-top: 3rem;
  padding-bottom: 8rem;
}
.master-list {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.master-list li {
  max-width: 20%;
}
.master-list li .master-img-wrap {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}
.master-list li .master-img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.master-list li p {
  font-weight: 400;
  color: #456250;
  text-align: center;
}
.master-list li .master-name {
  margin-top: 0.6rem;
  font-size: 0.85rem;
}
.master-list li .master-star {
  margin-top: 0.25rem;
  font-size: 0.8rem;
}

.break-inner .break-two-depth, .break-inner .break-one-depth {
  min-width: 30%;
  padding: 0.5rem;
  border: 0 none;
  border-bottom: 2px solid #67937B;
  font-size: 1.1rem;
}

.break {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.break-inner {
  height: 100vh;
}
.break-inner .section-title {
  padding-top: 65%;
  margin-bottom: 1.2rem;
  font-size: 1.65rem;
  font-weight: 600;
  opacity: 0;
  transition: opacity 1s, padding-top 0.6s 0.6s;
}
.break-inner .break-one-depth {
  opacity: 0;
  transition: opacity 0.4s 1s;
}
.break-inner .break-two-depth {
  margin-left: 2.5rem;
  opacity: 0;
  transition: opacity 0.3s, margin-left 0.3s 0.2s;
}
.break-inner .break-two-depth-on {
  margin-left: 1.5rem;
  opacity: 1;
}
.break-inner .break-detail {
  margin-top: 1.8rem;
  opacity: 0;
  transition: opacity 0.6s 0.6s;
}
.break-inner .break-detail-on {
  opacity: 1;
}
.break-inner .break-detail-suggest {
  font-size: 1.1rem;
  font-weight: 400;
  color: #456250;
  margin-bottom: 0.5rem;
}
.break-inner .break-detail textarea {
  resize: none;
  width: 100%;
  border: 2px solid #67937B;
  border-radius: 0.5rem;
  box-sizing: border-box;
}
.break-inner .break-submit-btn {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-top: 2.3rem;
  padding: 0.6rem 1.8rem 0.6rem 0.8rem;
  border: 0 none;
  border-radius: 1.2rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  background: #456250;
  opacity: 0;
  transition: opacity 0.3s, margin-top 0.3s 0.2s;
}
.break-inner .break-submit-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-62%) rotate(45deg);
  width: 0.4rem;
  height: 0.4rem;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}
.break-inner .break-submit-btn-on {
  opacity: 1;
  margin-top: 1.8rem;
}
.break-inner-on .section-title {
  opacity: 1;
  padding-top: 55%;
}
.break-inner-on .section-title-on {
  padding-top: 35%;
}
.break-inner-on .break-one-depth {
  opacity: 1;
}

.mypage section {
  padding-left: 5%;
  padding-right: 5%;
}
.mypage section ul li {
  margin-bottom: 0.45rem;
}
.mypage section ul li a {
  font-size: 0.95rem;
  font-weight: 400;
  color: #000;
}
.mypage-title {
  margin-bottom: 0.7rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #456250;
}
.mypage-profile {
  padding-top: 20%;
  padding-bottom: 6%;
  border-radius: 0 0 1.5rem 1.5rem;
  background: #67937B;
}
.mypage-profile-name {
  font-size: 1.35rem;
  font-weight: 600;
  color: #fff;
}
.mypage-profile button {
  margin-top: 0.4rem;
  padding: 0;
  border: 0 none;
  font-size: 0.9rem;
  color: #fff;
  background: transparent;
}
.mypage-calendar, .mypage-myanon, .mypage-notice {
  padding: 1rem 0;
  border-bottom: 0.3rem solid rgba(103, 147, 123, 0.5019607843);
}
.mypage-myanon ul {
  margin-left: 0.7rem;
}
.mypage-notice {
  margin-bottom: 8rem;
}

.fc-day-sun a {
  color: #f55a5a;
}

.fc-day-sat a {
  color: #448ef5;
}

.fc-scrollgrid-section-header {
  display: none;
}

.fc-theme-standard .fc-scrollgrid,
.fc-theme-standard td {
  border: 0 none;
}

.fc .fc-daygrid-day-top {
  flex-direction: row;
}
.fc .fc-daygrid-day-number {
  font-size: 0.7rem;
}
.fc .fc-event-title {
  padding: 1px 3px;
  font-size: 0.7rem;
}
.fc .fc-daygrid-event {
  border-radius: 0.55rem;
}
.fc .fc-daygrid-body-natural .fc-daygrid-day-events {
  margin-bottom: 0.5rem;
}/*# sourceMappingURL=style.css.map */