%break-select {
  min-width: 30%;
  padding: 0.5rem;
  border: 0 none;
  border-bottom: 2px solid $lightGreen;
  font-size: 1.1rem;
}
.break{
  @include relativeZero;
  overflow: hidden;
  &-inner{
    height: 100vh;
    .section-title{
      padding-top: 65%;
      margin-bottom: 1.2rem;
      font-size: 1.65rem;
      font-weight: 600;
      opacity: 0;
      transition: opacity 1s, padding-top .6s .6s;
    }
    .break-one-depth{
      @extend %break-select;
      opacity: 0;
      transition: opacity .4s 1s;
    }
    .break-two-depth{
      @extend %break-select;
      margin-left: 2.5rem;
      opacity: 0;
      transition: opacity .3s, margin-left .3s .2s;
      &-on{
        margin-left: 1.5rem;
        opacity: 1;
      }
    }
    .break-detail{
      margin-top: 1.8rem;
      opacity: 0;
      transition: opacity .6s .6s;
      &-on{
        opacity: 1;
      }
      &-suggest{
        font-size: 1.1rem;
        font-weight: 400;
        color: $mainGreen;
        margin-bottom: 0.5rem;
      }
      textarea{
        resize: none;
        width: 100%;
        border: 2px solid $lightGreen;
        border-radius: 0.5rem;
        box-sizing: border-box;
      }
    }
    .break-submit-btn{
      @include relativeZero;
      display: block;
      margin-top: 2.3rem;
      padding: 0.6rem 1.8rem 0.6rem 0.8rem ;
      border: 0 none;
      border-radius: 1.2rem;
      font-size: 1.1rem;
      font-weight: 600;
      color: #fff;
      background: $mainGreen;
      opacity: 0;
      transition: opacity .3s, margin-top .3s .2s;
      &::after{
        content: '';
        position: absolute;
        top: 50%;
        right: 0.8rem;
        transform: translateY(-62%) rotate(45deg);
        width: 0.4rem;
        height: 0.4rem;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
      }
      &-on{
        opacity: 1;
        margin-top: 1.8rem;
      }
    }
    &-on{
      .section-title{
        opacity: 1;
        padding-top: 55%;
        &-on{
          padding-top: 35%;
        }
      }
      .break-one-depth{
        opacity: 1;
      }
    }
  }
}