.intro{
  @include relativeZero;
  margin-bottom: 18%;
  &-container{
    padding:17% 5%;
    background: $deepGreen;
    border-radius: 0 0 25px 25px;
    .intro-subtitle{
      margin-bottom: 0.45rem;
      font-size: 0.8rem;
      color: #cecece;
    }
    .title{
      max-width: 80%;
      color: #fff;
    }
  }
  .service-slide{
    width: 90%;
    @include absoluteHalf;
    bottom: -45%;
    padding-bottom: 25px;
    .swiper-slide{
      .service{
        @include relativeZero;
        min-height: 5rem;
        padding: 1.2rem;
        border-radius: 1rem;
        background-color: #F2F5F3;
        &-title{
          margin-bottom: 0.35rem;
          font-size: 1rem;
          font-weight: 600;
          color: $mainGreen;
        }
        &-receipt{
          display: block;
          font-size: 0.7rem;
          color: $mainGreen;
        }
        &-icon{
          position: absolute;
          top: 50%;
          height: 70%;
          transform: translateY(-50%);
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        &-icon-vert{
          width: 30%;
          right: 3%;
        }
        &-icon-rect{
          width: 22.5%;
          right: 7%;
        }
      }
    }
    .swiper-pagination{
      bottom: 0;
      &-bullet{
        width: 10px;
        height: 6px;
        border-radius: 3px;
        background: #c4c4c4;
        opacity: 1;
        transition: width .4s;
      }
      &-bullet-active{
        width: 30px;
        border-radius: 5px;
        background: $lightGreen;
      }
    }
  }
}
.offer{
  padding-top: 2.8rem;
  &-slide{
    margin-top: 1rem;
    .swiper-slide{
      height: 8.5rem;
      border-radius: 1rem;
      overflow: hidden;
      background: $lightGreen;
      .offer-company{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: end;
        background: linear-gradient(transparent, $deepGreen);
        p{
          color: #fff;
        }
        &-name{
          font-size: 0.9rem;
          font-weight: 600;
        }
        &-info{
          margin-top: 0.1rem;
          font-size: 0.6rem;
          font-weight: 400;
        }
      }
    }
  }
}
.check{
  width: 100%;
  margin-top: 3rem;
  &-inner{
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: #B6C4BD;
    .section-title,
    .section-subtitle{
      color: $deepGreen;
    }
  }
  &-left{
    padding: 1.2rem;
  }
  &-list{
    min-width: 32%;
    padding: 1.2rem;
    li{
      @include relativeZero;
      margin-bottom: 0.4rem;
      border-bottom: 1px solid $deepGreen;
      &::before{
        content:'';
        position: absolute;
        left: 0;
        top: 2px;
        width: 0.9rem;
        height: 0.5rem;
        transform: rotate(136deg);
        border-width: 2.5px 2.5px 0 0;
        border-style: solid;
        border-color: $deepGreen;
      }
      p{
        line-height: 1.8;
        font-size: 0.9rem;
        font-weight: 600;
        text-align: right;
        color: $deepGreen;
      }
    }
    &-off{
      opacity: 0.25;
    }
  }
}
.suggest{
  margin-top: 3rem;
  .section-subtitle{
    display: inline-block;
  }
  &-reserve{
    float: right;
    padding-right: 0.9rem;
    color: $mainGreen;
    font-size: 0.8rem;
    @include relativeZero;
    &:after{
      content:'';
      position: absolute;
      right: 0.1rem;
      top: 0.25rem;
      width: 0.4rem;
      height: 0.4rem;
      transform: rotate(45deg);
      border: 1.2px solid $mainGreen;
      border-bottom: transparent;
      border-left: transparent;
    }
  }
  &-items{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    li{
      max-width: 20%;
      border-radius: 1.2rem;
      &:nth-child(odd){
        background-color: #F2F5F3;
        p{
          color: $mainGreen;
        }
      }
      &:nth-child(even){
        background-color: #739583;
        p{
          color: #F2F5F3;
        }
      }
      a{
        @include fullfull;
        display: block;
        box-sizing: border-box;
        padding: 0.65rem;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 600;
        .suggest-img-wrap{
          width: 100%;
          height: 63%;
          margin: 0 auto 0.55rem;
          border-radius: 0.8rem;
          overflow: hidden;
          img{
            @include fullfull;
            object-fit: cover;
          }
        }
      }
    }
  }
}
.master{
  margin-top: 3rem;
  padding-bottom: 8rem;
  &-list{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li{
      max-width: 20%;
      .master-img-wrap{
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        overflow: hidden;
        img{
          @include fullfull;
          object-fit: cover;
        }
      }
      p{
        font-weight: 400;
        color: $mainGreen;
        text-align: center;
      }
      .master-name{
        margin-top: 0.6rem;
        font-size: 0.85rem;
      }
      .master-star{
        margin-top: 0.25rem;
        font-size: 0.8rem;
      }
    }
  }
}