html,body{
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 18px;
}
a{
  display: inline-block;
  text-decoration: none;
}
p{
  margin: 0;
  padding: 0;
  word-break: keep-all;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#root{
  width: 100vw;
  height: 100vh;
  background: #eee;
}
.App{
  max-width: 480px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  background: #fff;
}

.hidden{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
  line-height: 0;
  width: 1px;
  height: 1px;
}

$lightGreen:#67937B;
$mainGreen:#456250;
$deepGreen:#274C58;
$baseColor:#EADFCD;
$pointColor:#F6C915;

@mixin fullfull{
  width: 100%;
  height: 100%;
}

@mixin relativeZero(){
  position: relative;
  top: 0;
  left: 0;
}

@mixin flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}