$lightGreen:#67937B;
$mainGreen:#456250;
$deepGreen:#274C58;
$baseColor:#EADFCD;
$pointColor:#F6C915;

@mixin fullfull{
  width: 100%;
  height: 100%;
}

@mixin relativeZero(){
  position: relative;
  top: 0;
  left: 0;
}

@mixin absoluteHalf(){
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

html,body{
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 16px;
}
a{
  display: inline-block;
  text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6{
  word-break: keep-all;
}

#root{
  width: 100vw;
  height: 100%;
  background: #eee;
}
.App{
  max-width: 480px;
  min-width: 320px;
  height: 100vh;
  margin: 0 auto;
  background: #fff;
  overflow-x: hidden;
}

.hidden{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
  line-height: 0;
  width: 1px;
  height: 1px;
}
[class$="-inner"]{
  max-width: 90%;
  margin: 0 auto;
}
[class$="title"]{
  font-size: 1.4rem;
  font-weight: 600;
}
.section-title{
  color: $mainGreen;
  margin-bottom: 0.45rem;
}
.section-subtitle{
  font-size: 0.8rem;
  font-weight: 400;
  color: $mainGreen;
}
