.login,.signin{
  @include fullfull;
  @include relativeZero;
  .login-inner,
  .signin-inner{
    @include fullfull;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .splash-logo{
    max-width: 35%;
    @include absoluteHalf;
    img{
      display: block;
      max-width: 100%;
    }
  }
  .logNsign-form{
    text-align: center;
    input,button{
      width: 100%;
      padding: 0.9rem 1.2rem;
      box-sizing: border-box;
      border: 0 none;
      border-radius: 1.5rem;
    }
    input{
      font-size: 0.9rem;
      margin: 0.5rem 0;
      background: #eee;
    }
    button{
      margin-top: 1.5rem;
      font-size: 1rem;
      font-weight: 600;
      color: #fff;
      background: $mainGreen;
    }
    button:disabled{
      opacity: 0.3;
    }
  }
}

.login{
  .splash-logo{
    top: 15%;
  }
  .form-wrap{
    text-align: center;
    .go-signin{
      margin-top: 0.9rem;
      font-size: 0.88rem;
      color: $mainGreen;
    }
  }
}
.signin{
  .splash-logo{
    top: 10%;
  }
  &-alert{
    padding: 0 1.2rem;
    text-align: left;
    font-size: 0.85rem;
    color: $alertRed;
  }
  &-rcmd{
    padding: 0 1.2rem;
    text-align: left;
    font-size: 0.85rem;
    color: $lightGreen;
  }
}
