.moving{
  section{
    padding-left: 5%;
    padding-right: 5%;
    button{
      border: 0 none;
      padding: 0.5rem 0.8rem;
      border-radius: 1rem;
    }
  }
  .my-moving-day{
    padding-top: 20%;
    padding-bottom: 6%;
    border-radius: 0 0 1.5rem 1.5rem;
    background: $lightGreen;
    &-text{
      display: flex;
      align-items: center;
      color: #fff;
      p{
        font-size: 1.1rem;
        font-weight: 400;
        margin-right: 1rem;
      }
    }
    .section-title{
      color: #fff;
    }
    form{
      select{
        margin-right: 0.5rem;
        padding: 0.5rem;
        border: 0 none;
        border-bottom: 2px solid #fff;
        font-size: 1.1rem;
        color: #fff;
        background: transparent;
      }
    }
  }
}